/*Set some variables for the color scheme. This should make changing the color
  scheme quick and easy later, if desired*/
:root {
  --primary-color: #004a7c;
  --secondary-color: #005691;
  --tertiary-color: #e8f1f5;
  --quaternary-color: #fafafa;
  --text-color: #2e291a;
  --button-background: #edf4fc;
  --button-hover: #fff;
}

body {
  font-family: 'Manjari', sans-serif;
  background-color: var(--quaternary-color);
  text-align: center;
  padding-top: 100px;
  color: var(--very-dark-cyan);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

a h1 {
  font-family:  'Manjari', sans-serif;
  color: var(--tertiary-color);
}

.warning {
  width: 50%;
  min-width: 679px;
  margin: 0 auto;
  height: 200px;
  font-size: 2rem;
}

.warning h1 {
  padding-top: 28px;
  font-family: 'Cousine', monospace;
}

.warning h4 {
  margin-top: 30px;
}

.construction-cone {
  height: 100%;
  float: left;
}

.go-back {
	background-color: var(--primary-color);
  color: var(--tertiary-color);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display: block;
	cursor:pointer;
	font-size: 1.5rem;
	padding: 0px 54px 10px;
  width: 80%;
	text-decoration: none;
  text-align: center;
  margin: 30px auto 30px auto;
}

.go-back:hover {
	background-color: var(--secondary-color);
  color: var(--tertiary-color);
  text-decoration: none;
}

.go-back:active {
	position:relative;
	top:1px;
}

.attribution {
  background-color: var(--primary-color);
  font-size: .8rem;
  position: absolute;
  left: 26.5%;
  width: 47%;
  bottom: -10px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 7px;
}

.attribution a {
  color: #f1e8f7;
}

.attribution a:hover {
  color: var(--button-hover);
  text-decoration: none;
}
