/*Set some variables for the color scheme. This should make changing the color
  scheme quick and easy later, if desired*/
:root {
  --primary-color: #004a7c;
  --secondary-color: #005691;
  --tertiary-color: #e8f1f5;
  --quaternary-color: #fafafa;
  --text-color: #2e291a;
  --button-background: #edf4fc;
  --button-hover: #fff;
}

body {
  font-family: 'Manjari', sans-serif;
  background-color: var(--quaternary-color);
  color: var(--text-color);
  text-align: center;
  padding-top: 100px;
  color: var(--very-dark-cyan);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

a h1 {
  font-family:  'Manjari', sans-serif;
  color: var(--tertiary-color);
}

.warning {
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
}

.warning h1 {
  font-family: 'Cousine', monospace;
  padding-bottom: 0px;
  margin: 0;
}

@media (min-width: 992px) {
  .warning-text {
    padding-top: 50px;
  }
}

.img-container {
}

.construction-cone {
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
}

.go-back {
	background-color: var(--primary-color);
  color: var(--tertiary-color);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display: block;
	cursor:pointer;
	font-size: 1.5rem;
	padding: 10px 54px 10px;
	text-decoration: none;
  text-align: center;
  margin: 20px auto 20px auto;
}

.go-back:hover {
	background-color: var(--secondary-color);
  color: var(--tertiary-color);
  text-decoration: none;
}

.go-back:active {
	position:relative;
	top:1px;
}

.attribution {
  background-color: var(--primary-color);
  text-align: center;
  font-size: .8rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0px;
}

.attribution a {
  color: #f1e8f7;
}

.attribution a:hover {
  color: var(--button-hover);
  text-decoration: none;
}
