
:root {
  --primary-color: #004a7c;
  --secondary-color: #005691;
  --tertiary-color: #e8f1f5;
  --quaternary-color: #fafafa;
  --text-color: #2e291a;
  --button-background: #edf4fc;
  --button-hover: #096fb5;
}

body {
  background-color: var(--secondary-color);
}

h1 {
  font-family: 'Major Mono Display', monospace;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 1.3;
  text-align: left;
}

#header {
  text-align: center;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 70px 0;
  height: 385px;
}

#header h1 {
  font-size: 5rem;
  font-weight: 1200;
  color: var(--text-color);
}

.thumbnail-container {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 300px;
  height: 300px;
}

.header-thumbnail {
  width: 300px;
  height: 300px;
}

#middle {
  background-color: var(--primary-color);
  padding: 60px 0;
}

#middle .middle-content {
  width: 80%;
  margin: 130px auto 0;
}

@media (max-width: 992px) {
  #middle .middle-content {
    width: 100%;
  }
}

#middle .project {
  background-color: #eeeeee;
  max-width: 45%;
  height: 600px;
  border-radius: 10px;
  padding-top: 8px;
  border-style: solid;
  margin: 20px auto;
  text-align: center;
  box-shadow: 7px 7px 15px #000;
}

.first-project {
  margin-top: 130px;
}

.project .project-name {
  margin: 12px auto;
  text-align: center;
  font-weight: bold;
}

.img-container {
  background-color: #eeeeee;
}

.project-img {
  object-fit: contain;
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 3px;
}

.project .project-link-container {
  position: relative;
}

@media (max-width:992px){
  .project-img {
    margin-bottom: 15px;
  }

  .project-info p {
    font-size: 1.5rem;
  }

  .project-name {
    font-size: 4rem;
  }

  .project h2 {
    font-size: 3rem;
  }

  #middle .project {
    position: relative;
    height: 700px;
    margin-top: 50px;
    max-width: 100%;
  }

}

@media (max-width:768px) {
  #middle .project {
    height: 800px;
  }
}

.card-bottom {
  position: absolute;
  bottom: 15px;
  width: 100%;
  clear: both;
  left: 0;
}

.project .project-link {
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    background-color: var(--primary-color);
}


@media (max-width: 992px) {
  .project .project-link {
      font-size: 1.5rem;
  }
}

.project .project-link:hover {
  background-color: var(--button-hover);
  border-color: var(--tertiary-color);
}

.icon {
  margin-right: .5rem;
}

#footer {
  padding: 15px;
  text-align: center;
}

#footer .go-back {
  background-color: var(--button-hover);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  width: 30%;
  font-size: 1.5rem;
}

#footer .go-back:hover {
  background-color: var(--primary-color);
  border-color: var(--tertiary-color);
}

.copyright p {
  font-size: .7rem;
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  margin: 15px auto 0;
}
